<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Pillow CodeWars</title>
    <meta charset="utf-8">
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/20c2947f91.js" crossorigin="anonymous"></script>
    <style>
        /* Создание контейнера, который будет занимать всю высоту страницы */
        .full-height {
            min-height: 100vh;
        }
    </style>
    <script>
        const handleList1 = document.getElementById('handle-list-1');
const handleList2 = document.getElementById('handle-list-2');

Sortable.create(handleList1, {
  animation: 150,
  group: 'handleList',
  handle: '.drag-handle'
});
Sortable.create(handleList2, {
  animation: 150,
  group: 'handleList',
  handle: '.drag-handle'
});
    </script>
</head>

<div class="row">
    <div class="col-md-6 col-12 mb-md-0 mb-4">
        <p>Pending Tasks</p>
        <ul class="list-group list-group-flush" id="handle-list-1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Buy products</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-1" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Reply to emails</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-2" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Write blog post</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-3" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Update packages</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-4" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>New blog layout</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-5" height="32" width="32"/>
            </li>
        </ul>
    </div>

    <div class="col-md-6 col-12 mb-md-0 mb-4">
        <p>Completed Tasks</p>
        <ul class="list-group list-group-flush" id="handle-list-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>New icons set for an iOS app</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-1" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Fix validation bugs and commit</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-2" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Help Web developers with HTML integration</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-3" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Buy antivirus</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-4" height="32" width="32"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-flex justify-content-between align-items-center">
          <i class="drag-handle cursor-move bx bx-menu align-text-bottom me-2"></i>
          <span>Answer support tickets</span>
        </span>
                <img class="rounded-circle" src="..." alt="avatar-5" height="32" width="32"/>
            </li>
        </ul>
    </div>
</div>

</html>